<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Zombiepaladin's Website: {{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      Nathan H. Bean
      <nav>
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <a href="/blog">Blog</a>
        <a href="/curriculum-vitae">CV</a>
      </nav>
    </header>
    <section class="content">
      {{ content }}
    </section>
    <footer>
      &copy; 2026 Nathan H. Bean
    </footer>
  </body>
</html>
